<p class="location"><a href="/g:{{ result.json.id }}">#</a></p>
<section class="units-row card goods">
    <h2>{{result.json.name}}</h2>
    <hr/>
    <div class="units-row end">
        <img ng-src="{{ result.json.image_url }}" align="right" />
        <p><b>ID:</b> {{ result.json.id }}</p>
        <p>{{ result.json.description }}</p>
    </div>
    <hr/>
    <table class="table-hovered">
        <thead>
            <tr>
                <th colspan="2" class="width-50">Магазин</th>
                <th>Продажа</th>
                <th>Покупка</th>
                <th>Кол-во</th>
            </tr>
        </thead>
        <tbody ng-repeat="price in result.json.in_shop">
            <tr>
                <td><img ng-src="{{ price.shop.image_url }}" /></td>
                <td class="name"><a href="{{ price.shop.shop_url || '#' }}" target="_blank">{{ price.shop.name }}</a></td>
                <td>{{ price.price_sell || '—'}}</td>
                <td>{{ price.price_buy || '—' }}</td>
                <td>{{ price.stuck }}</td>
            </tr>
        </tbody>
    </table>

</section>