<p class="location"><a href="/u:{{ result.json.username.toLocaleLowerCase() }}">#</a></p>
<section class="units-row card user">
    <div class="left clearfix">
        <h2>
            <prefix></prefix>
            <span ng-style="{ 'color' : '#{{ result.json.nick_color.slice(-6) }}' }">{{result.json.username}}</span>
        </h2>
        <hr/>
        <dl>
            <dt>Зарегистрирован</dt>
            <dd>{{result.json.reg_date * 1000 | date:'medium'}} ({{result.json.reg_date | years}} GCлет)</dd>

            <dt>Последний онлайн</dt>
            <dd>

                На сервере <b class="main">Main</b>:
                <i ng-show="result.json.status.main">онлайн</i>
                <abbr ng-hide="result.json.status.main" ng-init="isHoverMain = false" ng-mouseleave="isHoverMain = false" ng-mouseover="isHoverMain = true" title="">{{result.json.lastseen.main | lastseen:isHoverMain}}</abbr>;
            </dd>
            <dd>
                На сервере <b class="rpg">RPG</b>:
                <i ng-show="result.json.status.rpg">онлайн</i>
                <abbr ng-hide="result.json.status.rpg" ng-init="isHoverRpg = false" ng-mouseleave="isHoverRpg = false" ng-mouseover="isHoverRpg = true" title="">{{result.json.lastseen.rpg | lastseen:isHoverRpg}}</abbr>;
            </dd>
            <dd>
                На сервере <b class="apocalyptic">Apocalyptic</b>:
                <i ng-show="result.json.status.apocalyptic">онлайн</i>
                <abbr ng-hide="result.json.status.apocalyptic" ng-init="isHoverAp = false" ng-mouseleave="isHoverAp = false" ng-mouseover="isHoverAp = true" title="">{{result.json.lastseen.apocalyptic | lastseen:isHoverAp}}</abbr>;
            </dd>

            <dt ng-show="result.json.badges">Значки пользователя</dt>
            <dd ng-show="result.json.badges">
                <span ng-repeat="badge in result.json.badges" class="badge"><img ng-src="{{ 'http://gctrade.ru/images/items/' + badge.badgeId + '.' + badge.badgeData + '.png' }}" /> <var>x</var> {{ badge.count }}</span>
            </dd>
            <dd ng-show="result.json.badges">Что бы разместить на форуме используйте <code>[img]http://gctrade.ru/api/user/badges/{{ result.json.username }}[/img]</code></dd>

            <dt ng-show="result.json.banned">Находится в бане</dt>
            <dd ng-show="result.json.banned">{{ (result.json.bannedTill) ? 'До ' + (result.json.bannedTill * 1000 | date:'medium') : 'Пожизнено' }}
            </dd>
        </dl>
    </div>
    <div class="right" skin>
        <canvas class="model"></canvas>
        <canvas class="scratch"></canvas>
    </div>
</section>