<div class="units-row"></div>
<section class="units-row card page">
    <h2>Помощь</h2>
    <dl>
        <dt>Доступные команды</dt>
        <dd>
            <ul class="list-flat">
                <li><a href="/!help">!help</a> - справка, вы же ее сейчас и читаете;</li>
                <li><a href="/!about">!about</a> - краткая информация о этой штуковине;</li>
				<li><a href="/!top">!top</a> - часто набираемые запросы;</li>
                <li><a href="/!online">!online</a> - список пользователей онлайн;</li>
                <li><a href="/!calc">!calc</a> - калькулятор регионов;</li>
                <li><a href="/astappev">username</a> - доступная публичная информация о пользоателе;</li>
                <li><a href="/isilian">region</a> - публичная информация о регионе;</li>
            </ul>
        </dd>
    </dl>
</section>
