<div class="units-row"></div>
<section class="units-row card page">
    <h2>Помощь</h2>
    <dl>
        <dt>Доступные команды</dt>
        <dd>
            <ul class="list-flat">
                <li><a href="/!help">!help</a> - справка, вы же ее сейчас и читаете;</li>
                <li><a href="/!about">!about</a> - краткая информация о этой штуковине;</li>
				<li><a href="/!top">!top</a> - часто набираемые запросы;</li>
                <li><a href="/!online">!online</a> - список пользователей онлайн;</li>
                <li><a href="/!calc">!calc</a> - калькулятор регионов;</li>
                <li><a href="/!status">!status</a> - текущий статус сервера;</li>
                <li><a href="/u:astappev">username</a> - доступная публичная информация о пользователе;</li>
                <li><a href="/r:isilian">region</a> - публичная информация о регионе;</li>
                <li><a href="/o:ember">organization</a> - публичная информация о организациях;</li>
            </ul>
        </dd>
    </dl>
</section>
